<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/gamepadsgearbg1.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="left">
                        <h2 class="card-title largecard-text-header largecard-text-header">GAMEPADS</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text-body largecard-text-body">Logitech G durability and precision available in a gamepad. Get your console-style controller for PC and play your games the way you want.</p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>