<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators" style="margin-bottom: 25px;">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>

  <!-- Inner -->
  <div class="carousel-inner">

    <!-- Single Item -->
    <div class="carousel-item active">
        <video autoplay muted class="video">
          <source src="/assets/g303.mp4"type="video/mp4"/>
        </video>
        <div class="carousel-caption pos1 d-none d-md-block">
          <h5 class="h5">AIM HIGHER</h5>
          <div class="body">
            <p>
              G303 Shroud Edition. Designed with shroud. Made for play.
            </p>
            <a href="products/gaming-mice/g303-shroud-wireless" type="button" class="btn btncolor btn-lg">EXPLORE G303 SHROUD</a>
          </div>
        </div>
      </div>

    <!-- Single item -->
    <div class="carousel-item">
        <img src="/assets/league.webp" class="carousel-img">    
        <div class="carousel-caption pos2 d-none d-md-block">
          <h2 class="h4">PLAY WITH LEGENDS</h2>
          <div class="body2">
            <p>
              Forged by magic. Tempered by science. Wielded by champions. Introducing the League of Legends Collection
            </p>
          <a href="league-of-legends-collection" type="button" class="btn btncolor btn-lg">EXPLORE LEAGUE OF LEGENDS COLLECTION</a>
          </div>
        </div>
      </div>

    <!-- Single item -->
    <div class="carousel-item">
        <img src="/assets/shroud.webp" class="carousel-img">
        <div class="carousel-caption pos1 d-none d-md-block">
          <h5 class="h1">SHROUD x LOGITECH G</h5>
          <div class="body3">
            <h2 class="h5">
              LOGITECH G PRO SERIES - SHROUD EDITION
            </h2>
            <a href="shroud-edition" type="button" class="btn btncolor btn-lg">SHOP SHROUD EDITION</a>
          </div>
        </div>
      </div>
      
    <!-- Single item -->
    <div class="carousel-item">
      <video autoplay muted class="video">
        <source src="/assets/g435-gaming-headset-hero-video.mp4" type="video/mp4" />
      </video>
      <div class="carousel-caption pos1 d-none d-md-block">
        <h5 class="h4black">PLAY NEVER ENDS</h5>
        <div class="body">
          <p class="pblack">
            Play games. Play music. Play with friends
          </p>
          <a href="products/gaming-audio/g435-wireless-bluetooth-gaming-headset" type="button" class="btn btncolor btn-lg">MEET G435</a>
        </div> 
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
        <img src="/assets/pro-x-w-hpb.webp"class="carousel-img" style="position: relative; bottom: 140px;"> 
        <div class="carousel-caption pos3 d-none d-md-block">
          <div class="left">
            <h2 class="subtitle h6">PRO AT LIGHTSPEED</h2>
            <h2 class="h2">PRO X WIRELESS</h2>
            <div class="mini-hr"></div>
            <a href="products/gaming-audio/pro-x-wireless-headset" type="button" class="btn btncolor btn-lg">MORE ON PRO WIRELESS</a>
          </div>
          
        </div>
      </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->