<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators" style="margin-bottom: 0px;">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>

  <!-- Inner -->
  <div class="carousel-inner">

    <!-- Single Item -->
    <div class="carousel-item active">
        <video autoplay loop muted class="video">
          <source src="/assets/g303.mp4"type="video/mp4"/>
        </video>
        <div class="carousel-caption d-none d-md-block">
          <h5>AIM HIGHER</h5>
          <p>
            G303 Shroud Edition. Designed with shroud. Made for play.
          </p>
        </div>
      </div>

    <!-- Single item -->
    <div class="carousel-item">
        <img src="/assets/league.webp">    
        <div class="carousel-caption d-none d-md-block">
          <h5>PLAY WITH LEGENDS</h5>
          <p>
              Forged by magic. Tempered by science. Wielded by champions. Introducing the League of Legends Collection
          </p>
        </div>
      </div>

    <!-- Single item -->
    <div class="carousel-item">
        <img src="/assets/shroud.webp">
        <div class="carousel-caption d-none d-md-block">
          <h5>SHROUD x LOGITECH G</h5>
          <p>
              LOGITECH G PRO SERIES - SHROUD EDITION
          </p>
        </div>
      </div>
      
    <!-- Single item -->
    <div class="carousel-item">
      <video autoplay loop muted class="img-fluid">
        <source src="/assets/g435-gaming-headset-hero-video.mp4" type="video/mp4" />
      </video>
      <div class="carousel-caption d-none d-md-block">
        <h5>PLAY NEVER ENDS</h5>
        <p>
          Play games. Play music. Play with friends
        </p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
        <img src="/assets/pro-x-w-hpb.webp"> 
        <div class="carousel-caption d-none d-md-block">
          <h5>PRO AT LIGHTSPEED</h5>
          <p>
              PRO X WIRELESS
          </p>
        </div>
      </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->