<div class="card bg-dark text-white {{backgroundtype}}" style="background-image: url({{background}})">
    <div class="largecard-container">
        <div class="container-fluid">
            <img src={{img}} class="{{imagetype}}">
            </div>
        <div class="card-img-overlay">
            <div class="container">
                <h1 class="card-title largecard-text {{imagetype}}-texttitle">{{title}}</h1>
                <div class="{{imagetype}}-container">
                    <p class="card-text largecard-text {{imagetype}}-textdescription">{{description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>