.largecard-container{
    justify-content:center;
}

.largecard-imagesmall{
    padding: 100px;
    margin-top: 150px;
    margin-left: 625px;
    min-height: 400px;
    justify-self: center;
}

.largecard-imagemedium{
    padding: 100px;
    margin-top: 50px;
    width: calc(100% -20px);
    margin-right: 20px;
}

.largecard-imagenone{
    padding: 100px;
    margin-top: 50px;
    height: 500px;
}

.largecard-text{
    text-align:center;
   
}

.largecard-text-header{
    font-size:72px;
}

.largecard-text-body{
    font-size:16px;
}