.largecard-container{
    justify-content: center;
    padding: 0;
    align-items: center;

}

.largecard-imagesmall{
    padding: 100px;
    margin-top: 150px;
    margin-left: 600px;
    min-height: 400px;
    justify-self: center;
}

.largecard-imagemedium{
    padding-top: 100px;
    margin-top: 50px;
    width: calc(100% -20px);
    margin-right: 20px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.largecard-imagenone{
    padding: 100px;
    margin-top: 50px;
    height: 500px;
}

.largecard-text{
    text-align:center;
   
}

.largecard-text-header{
    font-size:72px;
}

.largecard-text-body{
    font-size:16px;
}

.card-img-overlay{
    padding: 0;
}