<div class="card bg-dark text-white">
    <div class="largecard-image">
        <img src="/assets/wireless-lp-products-1.webp" class="card-img largecard-image" alt="...">
    <div class="card-img-overlay">
        <div class="container">
            <h2 class="card-title largecard-text largecard-text-header">NO WIRES. NO LIMITS</h2>
            <p class="card-text largecard-text largecard-text-body">THE WORLD'S BEST SELLING GAMING GEAR</p>
            <p class="card-text largecard-text largecard-text-body">POWERED BY LIGHTSPEED</p>
        </div>
    </div>
    </div>
  </div>