<div class="card bg-dark text-white" style="min-height: 1013px; background-image: url(./assets/esportscardbg1.webp)">
    <div class="largecard-container">
        <div class="card-img-overlay">
            <div class="container">
                <h2 class="card-title largecard-text largecard-text-header">PLAY TO WIN</h2>
                <p class="card-text largecard-text largecard-text-body">A LEADING PARTNER FOR ESPORTS TEAMS AND <br> PLAYERS WORLDWIDE </p>
            </div>
        </div>
    </div>
</div>

<div class="card bg-dark text-white" style="min-height: 1013px; background-image: url(./assets/esportscardbg2.webp)">
    <div class="largecard-container">
        <div class="card-img-overlay">
            <div class="container">
                <h2 class="card-title largecard-text text-white largecard-text-header">ZERO LIMITS</h2>
                <p class="card-text largecard-text text-white largecard-text-body">Logitech G sponsors teams that strive to play with nothing holding them back. 
                    From daily routines to the world’s <br> biggest tournaments, they constantly push the boundaries of performance with the powerful combination of <br>
                    talent, dedication, and courage—and the right gear.</p>
            </div>
        </div>
    </div>
</div>