<div class="card bg-dark text-white" style=" height: 993.542px; background-image: url(./assets/esportscardbg.webp)">
    <div class="largecard-container">
          
    <div class="card-img-overlay">
        <div class="container">
            <h2 class="card-title largecard-text largecard-text-header">PLAY TO WIN</h2>
            <p class="card-text largecard-text largecard-text-body">A LEADING PARTNER FOR ESPORTS TEAMS AND </p>
            <p class="card-text largecard-text largecard-text-body">PLAYERS WORLDWIDE</p>
        </div>
    </div>
    </div>
  </div>