<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/spacegearbg1.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="left">
                        <h2 class="card-title largecard-text-header largecard-text-header">SPACE SIM GEAR</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text-body largecard-text-body">Space simulation games are on the rise. Play with the de facto space flight and combat H.O.T.A.S. (hands-on-throttle-and-stick) from Logitech G.</p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>