<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/gamingmicebg1.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="left">
                        <h2 class="card-title largecard-text-header largecard-text-header">GAMING MICE</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text-body largecard-text-body">Logitech G develops award-winning wireless and wired gaming mice. Constantly innovating from sensors to shape, find the right one for you.</p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>