<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/flightgearbg1.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="left">
                        <h2 class="card-title largecard-text-header largecard-text-header">FLIGHT SIM GEAR</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text-body largecard-text-body">Logitech G professional-grade flight simulation gear is designed to be fully modular and customizable. Build out your favorite cockpit whether you're a starting novice or an advanced air pilot.</p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>