<footer class="main-footer">
    <div class="container">
        <ul class="footer-nav">
            <li class="footer-nav-item">
                <a class="footer-link" href="/about.html"><span>ABOUT</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link" href="/contact.html"><span>CONTACT</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link" href="https://jobs.jobvite.com/logitech/l"><span>CAREERS</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link" href="/partnerdeveloperlab.html"><span>PARTNER DEVELOPER LAB</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link" href="/web-privacy-policy.html"><span>PRIVACY + SECURITY</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link" href="/sitemap.html"><span>SITEMAP</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link" href="/https://ir.logitech.com/home/default.aspx"><span>INVESTORS</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link" href="/https://www.logitech.com/en-us/tos/terms.html"><span>TERMS OF
                        USE</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link"
                    href="/https://www.logitech.com/en-us/sustainability.html"><span>SUSTAINABILITY</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link"
                    href="/https://www.logitech.com/en-us/sustainability/recycling.html"><span>RECYCLING</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link" href="/https://news.logitech.com/overview/default.aspx"><span>PRESS</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link" href="/my-account/order-faqs.html#returns-cancellations"><span>RETURN
                        POLICY</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link" href="/promotions/student-discount.html"><span>STUDENT DISCOUNT</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link" href="/legal/accessibility.html"><span>ACCESSIBILIY</span></a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-link" href="/en-us/my-account/email-preferences.html"><span>EMAIL
                        PREFERENCES</span></a>
            </li>
        </ul>

        <div class="footer-bottom-row">

            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="EMAIL ADDRESS*" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                <button class="input-group-text" id="basic-addon2">SUBSCRIBE</button>
            </div>


            <div class="copyright">© 2022 Logitech. All rights reserved</div>

            <ul class="footer-social-links">
                <li class="footer-social-link-item">
                    <a href="https://www.facebook.com/LogitechG">
                        <img class="icon" src="./assets/fb.png">
                    </a>
                </li>
                <li class="footer-social-link-item">
                    <a href="https://twitter.com/LogitechG">
                        <img class="icon" src="./assets/twitter.png">
                    </a>
                </li>
                <li class="footer-social-link-item">
                    <a href="https://www.facebook.com/LogitechG">
                        <img class="icon" src="./assets/instagram.png">
                    </a>
                </li>
                <li class="footer-social-link-item">
                    <a href="https://www.facebook.com/LogitechG">
                        <img class="icon" src="./assets/youtube.png">
                    </a>
                </li>
        
            </ul>
        </div>
    </div>
</footer>