.logitech{
    outline-style:dashed;
    color: grey;
}

.linkbar-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navcolor{
    filter: grayscale(1);
    color: grey;
}

.navcolor:hover{
    filter: grayscale(0);
    color: white;
}