<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid" style="margin-left:-275px;">
        <div class="col align-items-start">
            <ul class="nav" style=" justify-content:center;">
                <li class="nav-item">
                    <a href="https://www.logitech.com/en-us" class="nav-link navcolor">
                        <img src="/assets/logo-logitech-overlayl.svg" height = "20px">
                    </a>
                </li>
                <li class="nav-divider">
                    <div class="d-flex" style="height: 40px; color: white; ">
                        <div class="vr"></div>
                    </div>
                </li>    
                <li class="nav-item">
                    <a href="https://www.astrogaming.com/en-us" class="nav-link navcolor">
                        <img src="/assets/astro-overlay.svg" height = "20px">
                    </a>
                </li>
                <li class="nav-divider">
                    <div class="d-flex" style="height: 40px; color: white; ">
                        <div class="vr"></div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="https://www.bluemic.com/en-us" class="nav-link navcolor">
                        <img src="/assets/blue-overlay.svg" height = "20px">
                    </a>
                </li>  <li class="nav-divider">
                    <div class="d-flex" style="height: 40px; color: white; ">
                        <div class="vr"></div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="https://streamlabs.com/" class="nav-link navcolor">
                        <img src="/assets/streamlabs-overlay.svg" height = "20px">
                    </a>
                </li>  <li class="nav-divider">
                    <div class="d-flex" style="height: 40px; color: white; ">
                        <div class="vr"></div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="https://www.ultimateears.com/en-us" class="nav-link navcolor">
                        <img src="/assets/ue-overlay.svg" height = "20px">
                    </a>
                </li>  <li class="nav-divider">
                    <div class="d-flex" style="height: 40px; color: white; ">
                        <div class="vr"></div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="https://www.jaybirdsport.com/en-us" class="nav-link navcolor">
                        <img src="/assets/jaybird-overlay.svg" height = "20px">
                    </a>
                </li>
            </ul>
        </div>
        

        <ul class = "nav" style="margin-right:0px">
            <li class="nav-item">
                <a href="change-location" class="nav-link text-white navcolor" title="Site Language (currently set to en)">
                   <img src="/assets/Flag_of_the_United_States.svg" height = "20px">
                   EN 
                </a>
            </li>
            <li class="nav-divider">
                <div class="d-flex" style="height: 40px; color: white; ">
                    <div class="vr"></div>
                </div>
            </li>
            <li class="nav-item">
                <a href="auth" class="nav-link text-white navcolor" title="User Settings">
                    <img src="/assets/profileicon.svg" height = "20px">
                    MY ACCOUNT
                </a>
            </li>
        </ul>
    </div>
</nav>