<nav class="navbar navbar-light bg-light">
    <div class="container nav-container">
        <ul class="nav-list list-unstyled nav-component">
            <li class="nav-item">
                <a class="nav-link nav-text" href="Products">
                   PRODUCTS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text" href="Innovation">
                   INNOVATION
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text" href="Esports">
                   ESPORTS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text" href="Community">
                   COMMUNITY
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text" href="https://support.logi.com/hc/en-us">
                   SUPPORT
                </a>
            </li>
        </ul>
    </div>
</nav>