.message{
    max-height: 46px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #2f3132;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial;
    display: block;
    line-height: 1em;
    text-align: center;
}