<nav class="main-nav">
    <div class="main-nav-inner">
        <div class="navbar">
           <div class="container">
            <div class="left">
                <div class="btn-group dropend">
                    <button type="button" class="navbar-toggler" data-bs-toggle="dropdown" aria-labelledby="offcanvasMenu" aria-controls="offcanvasMenu">
                      <img src="/assets/Hamburger_icon.svg.png" width="40px">
                    </button>
                    <div class="main-nav-categories" aria-hidden="false" id="offcanvasMenu">
                        <div class="main-nav-header-wrapper">
                            <div class="container">
                                <ul class="main-nav-header">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/en-us/products.html" tabindex="-1" aria-haspopup="true" aria-expanded="false">
                                        </a>
                                    </li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                  </div>
            </div>
    
            <div class="center">
                <a href="https://www.logitechg.com/en-us" class="nav-link">
                    <img src="/assets/logitechg-logo.png" width="200px">
                </a>
            </div>
    
            <div class="right">
                <a href="https://www.logitechg.com/en-us" class="nav-link" style="justify-content:right;">
                    <img src="/assets/shopping-cart.svg" width="50px">
                </a>
                <a href="" class="nav-link" style="justify-content:right;">
                    <img src="/assets/PinClipart.com_padlock-clipart_1955423.png" width="50px">
                </a>
            </div>
           
        </div>
        </div>
    </div>   
</nav>