<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container" style="margin-left:300px; margin-right:150px; ">
        <div class="col align-items-start" style="margin-left:0px;">
            <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="/assets/Hamburger_icon.svg.png" width="40px">
                </button>
                <ul class="dropdown-menu">
                    <ul class="navbar navbar-expand-lg">
                        <li style="margin-left:50px; margin-right:100px">
                            <a class="dropdown-item" href="#">
                                Submenu &raquo;
                              </a>
                              <ul class="dropdown-menu dropdown-submenu">
                                <li>
                                  <a class="dropdown-item" href="#">Submenu item 1</a>
                                </li>
                                <li>
                                  <a class="dropdown-item" href="#">Submenu item 2</a>
                                </li>
                                </ul>
                        </li>
                        <li style="margin-left:100px; margin-right:100px"><a class="dropdown-item" href="#">INNOVATION</a></li>
                        <li style="margin-left:100px; margin-right:100px"><a class="dropdown-item" href="https://www.logitechg.com/en-us/esports.html">ESPORTS</a></li>
                        <li style="margin-left:100px; margin-right:100px"><a class="dropdown-item" href="https://www.logitechg.com/en-us/community.html">COMMUNITY</a></li>
                        <li style="margin-left:100px; margin-right:50px"><a class="dropdown-item" href="https://www.support.logi.com/hc/en-us">SUPPORT</a></li>
                    </ul>
                </ul>
              </div>
        </div>

        <div class="col align-items-center" style="margin-left:350px; margin-right:150px;">
            <a href="https://www.logitechg.com/en-us" class="nav-link">
                <img src="/assets/logitechg-logo.png" width="200px">
            </a>
        </div>

        <div class="col align-items-end" style="margin-left:150px; margin-right:0px">
            <a href="https://www.logitechg.com/en-us" class="nav-link" style="justify-content:right;">
                <img src="/assets/shopping-cart.svg" width="50px">
            </a>
        </div>
        <div class="col align-items-end" style="margin-left:0px">
            <a href="" class="nav-link" style="justify-content:right;">
                <img src="/assets/PinClipart.com_padlock-clipart_1955423.png" width="50px">
            </a>
        </div>
    </div>       
</nav>