<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/farmgearbg1.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="left">
                        <h2 class="card-title largecard-text-header largecard-text-header">FARM SIM GEAR</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text-body largecard-text-body">Ride the new tractors and reap the big fields with the only simulation gear designed specifically for Farming Simulator. Customize and use with other compatible simulators as well.</p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>