<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/gamingaudiobg1.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="left">
                        <h2 class="card-title largecard-text-header largecard-text-header">GAMING HEADSETS AND SPEAKERS</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text-body largecard-text-body">Immersive sound, crystal-clear mics, customizable EQ and optional 7.1 surround. Everything you need to get into the game and perform with the added benefit of precise audio.</p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>