<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/drivinggearbg1.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="left">
                        <h2 class="card-title largecard-text-header largecard-text-header">RACING SIM GEAR</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text-body largecard-text-body">Through design, engineering and a love of driving games, Logitech G takes racing simulation to another level.</p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>