<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/gamingmousepadsbg1.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="left">
                        <h2 class="card-title largecard-text-header largecard-text-header">GAMING MOUSE <br> PADS</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text-body largecard-text-body">From whole-desktop to minimal size, Logitech G has <br> engineered each surface for maximum consistency <br> and stability. And with POWERPLAY, your compatible <br> LIGHTSPEED wireless gaming mouse never needs to <br> be plugged in to charge again. </p>
                      
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>