<div class="container mycont">
    <h2 class="titletext">CHANGE LOCATION</h2>
    <div class="grid">
        <div class="col-1">
            <h2 class="region-name h4">AMERICA</h2>
            <ul class="countries">
                <li>
                    <span class="flag flag-ar"></span>
                    <a href="">Argentina (Spanish</a>
                </li>

                <li>
                    <span class="flag flag-br text"></span>
                    <a href="">Brasil</a>
                </li>

                <li>
                    <span class="flag flag-ca"></span>
                    <a href="">Canada | Canada (Français)</a>
                </li>

                <li>
                    <span class="flag flag-mx"></span>
                    <a href="">México</a>
                </li>

                <li>
                    <span class="flag flag-us"></span>
                    <a href="">United States</a>
                </li>

                <li class="country-space">&nbsp;</li>

                <li class="">
                    <a href="">Latinoamérica</a> 

                </li>

            </ul>
        </div>
        <div class="col-2">
            <ul class="countries">

            </ul>

        </div>
        <div class="col-3">

        </div>
    </div>
</div>