
<logitech-carousel>Loading...</logitech-carousel>

<div class = "container-fluid mycont">
    <div *ngFor="let card of cards">
        <logitech-largecard img={{card.img}} 
            title={{card.title}}
            description={{card.description}}
            background={{card.background}}
            imagetype={{card.imagetype}}
            backgroundtype={{card.backgroundtype}}
            buttontext={{card.buttontext}}
            hr = {{card.hr}}
            link = {{card.link}}>Loading...</logitech-largecard>
    </div>
</div>

