<div class="card bg-dark text-white" style=" min-height: 770px; background-image: url({{img}})">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="{{textside}}">
                        <h2 class="card-title largecard-text largecard-text-header">{{title}}</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text largecard-text-body">{{description}}</p>
                        <a href="/gaming-mice" class="a-text"><span>SHOP ALL {{buttonname}} <i class="arrow rightarrow"></i></span></a>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>