<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>


    <!-- Inner -->
    <div class="carousel-inner">


        <!-- Single item -->
        <div class="carousel-item active">
            <img src="/assets/plp-landing-hero-1-desktop.webp">
            <div class="carousel-caption d-none d-md-block">
                <h5>ULTRA-FAST WIRELESS</h5>
                <h1>THE LIGHTSPEED COLLECTION</h1>
                <p>
                    Experience an ultra-stable latency-free connection with lightspeed wireless. Available now.
                </p>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <img src="/assets/plp-landing-hero-2-desktop.webp">
            <div class="carousel-caption d-none d-md-block">
                <h5>NEXT-GEN GAMING SENSOR</h5>
                <h1>HERO FOR THE WIN</h1>
                <p>
                    HERO shatters performance and efficiency limitations with its all-new architecture.
                </p>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <img src="/assets/plp-landing-hero-3-desktop.webp">
            <div class="carousel-caption d-none d-md-block">
                <h5>MECHANICAL LINEUP</h5>
                <h1>PICK YOUR SWITCH</h1>
                <p>
                    Find the right switch to suit your playstyle from short-throw tactile feedback to iconic and clicky.
                </p>
            </div>
        </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
<!-- Carousel wrapper -->