<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/furniturebg1.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="left">
                        <h2 class="card-title largecard-text-header largecard-text-header">PLAY ADVANCED</h2>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>