.container{
    color: white;
}

.largecard-container{
    text-align: center;
    padding: 0;
    min-height: 500px;
    align-self: center;

}

.grid{
    margin-right: -20px;
    width: calc(100% + 20px);
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 350px;
}

.mini-hr{
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    height: 6px;
    overflow: hidden;
}

.mini-hr:after{
    display: block;
    content: "";
    background-color: #c3c6c8;
    position: absolute;
    left: 0;
    top: 0;
    width: 84px;
    height: 100%;
}



.btncolor{
    background-color: #00b8fc;
    color: black;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.blacktext{
    color: black;
}

.backgroundpic{
    min-width: 1650px;
    min-height: 860px;
    background-size: cover;
    background-position-y: 5 0%;
}

h2{
    font-size: 48px;
    line-height: 1;
    font-weight: 100!important;
    letter-spacing: 15px!important;
    font-family: inherit;
}

