<div class="card bg-dark text-white" style=" height: calc(100vh - 92px); background-image: url(./assets/communitypagebackground.jfif)">
    <div class="largecard-container">
          
    <div class="card-img-overlay">
        <div class="container">
            <h1 class="card-title largecard-text largecard-text-header">ALL ARE WELCOME</h1>
            <p class="card-text largecard-text largecard-text-body">Life is more fun wehn you play. Logitech G 's community is alive with this passion for play</p>
            <p class="card-text largecard-text largecard-text-body">Find out what we're up to!</p>
        </div>
    </div>
    </div>
  </div>