<logitech-innovationpagecarousel></logitech-innovationpagecarousel>

<div class="containerbanner">
    <h2 class="h3">LEADERS IN DESIGN AND <br> TECHNOLOGY</h2>
    <p class="p">Logitech G is intently focused on pushing gaming gear to the limits of what’s <br> 
        possible. Through innovation, we provide players the gear they need to optimize the <br>
        gaming experience—from competitive esports to casual, immersive fun. </p>
</div>

<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/innovationcard1.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="right">
                        <h2 class="card-title largecard-text largecard-text-header">HERO SENSOR</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text largecard-text-body">Our latest and most accurate gaming sensor has the fastest frame-processing yet while being 10 times more power efficient.</p>
                        <button type="button" class="btn btncolor btn-lg">MORE ON HERO SENSOR</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/innovationcard2.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="bottomright">
                        <h2 class="card-title largecard-text largecard-text-header">LIGHTSPEED</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text largecard-text-body">A breakthrough in wireless gaming that solves the issues of latency, stability and connectivity for wired-like performance.</p>
                        <button type="button" class="btn btncolor btn-lg">MORE ON LIGHTSPEED</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/innovationcard3.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="right">
                        <h2 class="card-title largecard-text largecard-text-header">LIGHTSYNC</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text largecard-text-body">Full-spectrum LIGHTSYNC technology immerses your rig even further into the game with customizable RGB lighting effects driven by games, music and more.</p>
                        <button type="button" class="btn btncolor btn-lg">MORE ON LIGHTSYNC</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/innovationcard4.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="moreleft">
                        <h2 class="card-title largecard-text largecard-text-header">LOGITECH G <br> HUB</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text largecard-text-body">Advanced gaming software, now with sharable and downloadable profiles. Synchronize and customize all your gear for optimal gameplay.</p>
                        <button type="button" class="btn btncolor btn-lg">MORE ON G HUB</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/innovationcard5.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="left">
                        <h2 class="card-title largecard-text largecard-text-header">MECHANICAL <br> SWITCHES</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text largecard-text-body">Select from faster, brighter, quieter Romer-G switches in original Tactile and Linear options. Or, choose the iconic, classic “clicky” switch: GX Blue.</p>
                        <button type="button" class="btn btncolor btn-lg">MORE ON HERO SWITCHES</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/innovationcard6.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="left blacktext">
                        <h2 class="card-title largecard-text largecard-text-header">ANTI-ASSASSIN <br> AUDIO</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text largecard-text-body">Hear enemies with DTS 7.1 surround that locates sounds in your game in 3D. Add Pro-G driver audio quality for even more precision.</p>
                        <button type="button" class="btn btncolor btn-lg">MORE ON HERO SENSOR</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card bg-dark text-white backgroundpic" style="background-image: url(./assets/innovationcard7.webp)">
    <div class="card-img-overlay">
        <div class="container largecard-container">
            <div class="grid">
                <div class="col-md-12">
                    <div class="left">
                        <h2 class="card-title largecard-text largecard-text-header">PLAY <br> ADVANCED</h2>
                        <div class="mini-hr"></div>
                        <p class="card-text largecard-text largecard-text-body">Innovation in gameplay precision requires the gaming gear to match. Logitech G partners with the greatest game creators to innovate the most immersive experiences.</p>
                        <button type="button" class="btn btncolor btn-lg">MORE ON PARTNERS </button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>