<div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>


    <!-- Inner -->
    <div class="carousel-inner">


        <!-- Single item -->
        <div class="carousel-item active controls: false">
            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/6-4j9mLAnag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <!-- Single item -->
        <div class="carousel-item controls: false">
            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/byE9_6GuFTM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <!-- Single item -->
        <div class="carousel-item controls: false">
            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/xRrA6-4n-cQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    
<!-- Carousel wrapper -->